<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <!--#include header.html -->

    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">Login</p>
        <p class="subtitle">Access your account</p>
      </div>
    </section>

    <main class="section">
      <div class="container">
        <div
          hx-get="/api/announcement_headlines.html"
          hx-trigger="load"
          hx-swap="outerHTML"
        >
          <progress class="progress is-small is-link" max="100">
            Loading&hellip;
          </progress>
        </div>

        <article id="login-info" class="message is-info box">
          <div class="message-header">
            <p><strong>How This Works</strong></p>
          </div>
          <div class="message-body">
            <p>Please enter your e-mail address and password to log in, or:</p>
            <ul>
              <li><a href="/register/">Register for an account</a></li>
              <li>
                <a href="/recover/"
                  >Recover your account by sending a login link to your e-mail
                  address</a
                >
              </li>
            </ul>
          </div>
        </article>

        <div class="box">
          <form
            novalidate
            id="login-form"
            hx-post="/api/account_login.html"
            hx-swap="innerHTML"
            hx-target="#login-message"
            hx-disabled-elt="find button[type='submit']"
          >
            <div class="field">
              <label class="label" for="login">E-mail address</label>
              <div class="control">
                <input
                  class="input"
                  id="login"
                  name="login"
                  type="email"
                  placeholder="you@example.com"
                  autocomplete="email"
                  required
                />
              </div>
            </div>

            <div class="field">
              <label class="label" for="password">Password</label>
              <div class="control">
                <input
                  class="input"
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="current-password"
                  required
                />
              </div>
            </div>

            <div class="field">
              <div class="control">
                <button class="button is-primary" type="submit">Log In</button>
              </div>
            </div>
          </form>

          <div
            id="login-message"
            class="mt-5 is-hidden"
            aria-live="polite"
          ></div>

          <div id="login-next-steps" class="mt-5 is-hidden">
            <div class="buttons">
              <a class="button is-primary" href="/account/">Account Overview</a>
              <a class="button is-light" href="/">Home</a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--#include footer.html -->

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
