<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
  </head>
  <body>
    <!--#include header.html -->

    <section class="hero is-primary">
      <div class="hero-body">
        <p class="title">Change Password</p>
      </div>
    </section>

    <main class="section">
      <div class="container">
        <div id="account-page-content" class="is-hidden">
          <div class="box">
            <form
              id="password-form"
              hx-post="/api/account_password.html"
              hx-swap="innerHTML"
              hx-target="#password-message"
              hx-disabled-elt="find button[type='submit']"
            >
              <div
                id="password-fields"
                hx-get="/api/account_password.html"
                hx-trigger="load"
                hx-swap="innerHTML"
                hx-target="this"
                hx-disabled-elt="unset"
              >
                <progress class="progress is-small is-link" max="100">
                  Loading&hellip;
                </progress>
              </div>

              <div class="field">
                <div class="control">
                  <button class="button is-primary" type="submit" disabled>
                    Update Password
                  </button>
                </div>
              </div>
            </form>

            <div
              id="password-message"
              class="mt-5 is-hidden"
              aria-live="polite"
            ></div>
          </div>
        </div>

        <!--#include account-login-prompt.html -->
      </div>
    </main>

    <!--#include footer.html -->

    <script type="module" src="/src/main.js"></script>
  </body>
</html>
